<body>
    <noscript>
      <strong>We're sorry but navigator-vue doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app" class="container-fluid">
        <div style="background-color: rgb(222, 222, 222);">
            <div class="row">
                <div class="col-md-12 headerRed">
                    <div class="navigatorLogo" style="float: left;">
                        Navigator
                    </div>
                    <div id="nav" style="float: right;">
                        <a href="/" class="router-link-exact-active router-link-active">View Surveys</a>
                        <a href="/about" class="">User Admin</a>
                        <a href="/about" class="">Profile</a>
                        <a href="/about" class="">Notifications</a>
                        <a href="/about" class="">Logout</a>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 1px;">
                <div class="col-md-10 text-right userName darkGreyBar pl0 pr0">
                    Logged In as ctredway - DEV (10001)
                </div>
                <div class="col-md-2 darkGreyBar">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6 pl0 pr0">
                                    <div class="text-left userName">
                                        &gt;&gt;
                                    </div>
                                </div>
                                <div class="col-md-6 pl0 pr0 ml1">
                                    <div class="text-right userName">x</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        Main Content Area
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- built files will be auto injected -->
  <script type="text/javascript" src="/app.js"></script>

</body>