.mt1 {
    margin-top: 1px;
}

.ml1 {
    margin-left: 1px;
}

.mt2 {
    margin-top: 2px;
}

.ml2 {
    margin-left: 2px;
}

.mt5 {
    margin-top: 5px;
}

.ml5 {
    margin-left: 5px;
}

.mr5 {
    margin-right: 5px;
}

.mb5 {
    margin-bottom: 5px;
}

.mt10 {
    margin-top: 10px;
}

.ml10 {
    margin-left: 10px;
}

.mr10 {
    margin-right: 10px;
}

.mb10 {
    margin-bottom: 10px;
}

.pl0 {
    padding-left: 0px;
}

.pr0 {
    padding-right: 0px;
}

.pl5 {
    padding-left: 5px;
}

.pr5 {
    padding-right: 5px;
}

.pt2 {
    padding-top: 2px;
}

.pb2 {
    padding-bottom: 2px;
}

.pt5 {
    padding-top: 5px;
}

.pb5 {
    padding-bottom: 5px;
}

.pt10 {
    padding-top: 10px;
}

.pb10 {
    padding-bottom: 10px;
}

.pb15 {
    padding-bottom: 15px;
}

.pt15 {
    padding-top: 15px;
}

.pl15 {
    padding-left: 15px;
}

.pr15 {
    padding-right: 15px;
}

.br2grey {
    border-right: 2px solid #cccccc;
}

.br2wht {
    border-right: 2px solid #fff;
}

.br5wht {
    border-right: 5px solid #fff;
}

.bl2wht {
    border-left: 2px solid #fff;
}

.bl5wht {
    border-left: 5px solid #fff;
}

.bb1grey {
    border-bottom: 1px solid #cccccc;
}

.bl1grey {
    border-left: 1px solid #cccccc;
}

.bl2grey {
    border-left: 2px solid #cccccc;
}

.bb2grey {
    border-bottom: 2px solid #cccccc;
}

.b2grey { 
    border: 2px solid #cccccc;
}

.fs14 {
    font-size: 14pt;
}

.fs10 {
    font-size: 10pt;
}

.red {
    color: red;
}

.lightBlue {
    color: #4289CD;
}

.green {
    color: chartreuse;
}

.grey-1 {
    background-color: #f5f5f5;
}

.grey-2 {
    background-color: #fcfcfc;
}

.hand {
    cursor: pointer;
}
