html, body {
    height: 100%;
    min-height: 100%
}

a:hover {
    text-decoration: none;
}

.headerRed {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e61700+0,ab0303+100 */
    background: #e61700; /* Old browsers */
    background: -moz-linear-gradient(top, #e61700 0%, #ab0303 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #e61700 0%,#ab0303 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #e61700 0%,#ab0303 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e61700', endColorstr='#ab0303',GradientType=0 ); /* IE6-9 */
}

.container-fluid {
    padding-left: 5px;
    padding-right: 5px;
    /* margin-left: 0px;
    margin-right: 0px; */
}

#home {
    min-height: 100%;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.btn-secondary {
    background-color: #E6E6E6;
    border: #E6E6E6;
    color: #7C7D7F;
    font-weight: 600;
    font-size: 11pt;
}

#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }
  #nav {
    padding: 15px;
  }
  
  #nav a {
    font-weight: bold;
    color: #dedede;
    text-transform: uppercase;
    font-size: 12pt;
    padding-left: 15px;
    padding-right: 15px;
  }

  #nav a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  #nav a.router-link-exact-active {
    color: #fff;
    padding-bottom: 16px;
    border-bottom: 3px solid #fff
  }

  .navbar {
    background-color: #dedede;
  }

  .navigatorLogo {
      background-color: #fff;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      width: 286;
      height: 80px;
      margin-left: 10px;
      position: absolute;
      top: 0px;
      left: 15px;
      z-index: 100;
  }

  #imgViewer {
      background-color: #fff;
  }

  .mainContent {
      background-color: #cccccc;
  }

  .userName {
      font-size: 10px;
      color: #fff;
  }

  .darkGreyBar {
    background-color: #747578;
    /* padding: 4px; */
  }

  .mediumGreyBox {
    background-color: #cccccc;
  }

  .lightGreyBox {
    background-color: #dedede;
  }

  .whiteBox {
      background-color: #fff;
  }

  .mediumGrey {
    background-color: #cccccc;
}

  .lightGrey {
      background-color: #f0f0f0;
  }

  .mediumGreyTxt {
      color: #666666;
  }

  .smallerGreyTxt {
      font-size: 9pt;
      color: #666666;
  }

  .smallerRedTxt {
    font-size: 9pt;
    color: #ff0404;
  }

  .smallBlackText {
    font-size: 9pt;
    color: #000;
  }

    .smallText {
        font-size: 9pt;
    }

    .smallBlueTxt {
        font-size: 9pt;
        color: #4289CD;
    }

    .selected {
        background-color: #4289CD;
        color: white;
    }

  .collapsed > .when-opened,
  :not(.collapsed) > .when-closed {
    display: none;
  }
