<template>
  
      <div class="col-md-12 ">
        <div class="row">
          <div id="home" class="col-md-10 mediumGreyBox">
            <div class="row">
              <ActionBar companyName="Allstate CA"/>
            </div>
            <div class="row">
              <InspectionType/>
            </div>
            <div class="row">
              <InspectionInformation/>
            </div>
            <div class="row">
              <Hazards/>
            </div>
          </div>
          <div class="col-md-2 pl5" style="background-color: #fff;">
            <ImageViewer />

          </div>
        </div>
        
      </div>
   
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import ActionBar from '@/components/survey/ActionBar.vue';
import InspectionType from '@/components/survey/InspectionType.vue';
import InspectionInformation from '@/components/survey/InspectionInfo.vue';
import Hazards from '@/components/survey/Hazards.vue';
import ImageViewer from '@/components/ImageViewer.vue';

@Component({
  components: {
    ActionBar,
    InspectionType,
    InspectionInformation,
    Hazards,
    ImageViewer,
  },
})
export default class Home extends Vue {}
</script>
