<template>
     <div class="col-md-12">
        <div class="row" style="box-shadow: 0px 10px 7px -9px #111; ">
            <div class="col-md-3 mediumGray text-left pt10 pb5 font-weight-bold fs14">
                {{ companyName }}
            </div>
            <div class="col-md-3 mediumGray text-right pt10 pb5 smallerGreyTxt">
                <font-awesome-icon icon="circle" class="red"/> You have unsaved changes
            </div>
            <div class="col-md-6 mediumGray text-right pt5 pb5">
                <button class="btn btn-secondary">Save Changes</button> &nbsp;
                <button class="btn btn-secondary">Save & Send to Customer</button> &nbsp;
                <button class="btn btn-secondary">Return to Inspector</button> &nbsp;
                <button class="btn btn-secondary">Save to PDF</button> &nbsp;
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class ActionBar extends Vue {
    @Prop() private companyName!: string;
}
</script>
