<template>
    <div v-bind:class="{ selected: hazard.selected }">
        <a href="#">
            <font-awesome-icon icon="circle" class="pl5 smallerGreyTxt" v-if="!hazard.picked"/>
            <font-awesome-icon icon="check" class="pl5 green" v-else="hazard.picked"/>
            <span v-bind:class="{ selected: hazard.selected }" class="smallBlueTxt pl15">{{ hazard.name }}</span>
            <span v-bind:class="{ selected: hazard.selected }" class="pull-right smallBlueTxt" style="padding-right: 5px;"><font-awesome-icon icon="plus" /></span>
        </a>
    </div>
</template>

<script lang="ts">
    export default {
        name: 'HazardItem',
        props: ['hazard'],
    };
</script>

<style scoped>
    div:hover {
        background-color: #dedede;
        color: #fff;
    }
    a:hover {
        background-color: #dedede;
        color: #fff;
    }
</style>
