<template>
     <div class="col-md-12 pb10">
        <div class=" whiteBox mt10 ml5 mr5 pl15 pr15 pt5">
            <div class="row pb10">
                <div class="col-md-9 text-left pb5 bb1grey">
                    <span class="font-weight-bold">Exterior Hazards</span>
                </div>
                <div class="col-md-3 text-right smallerGreyTxt pb5 bb1grey">
                    <span class="pr15">Read only - to edit, click icon and unlock <font-awesome-icon icon="lock" class="hand"/></span>
                    <div v-b-toggle.hazardContainer class="pb10 pl15 pt5 bl1grey pull-right"><font-awesome-icon icon="caret-left" class="when-closed hand pl-5"/><font-awesome-icon icon="caret-down" class="when-opened hand pull-right"/></div>
                </div>
            </div>
            <b-collapse id="hazardContainer" visible class="mt-2">
                <div class="row">
                    <div class="col-md-3">
                      <div role="tablist">
                        <b-card no-body class="mb-1">
                          <b-card-header header-tag="header" class="p-0" role="tab">
                            <b-button block href="#" v-b-toggle.accordion-1 variant="secondary" class="btn-sm text-left smallerGreyTxt">Dwelling Exterior Hazards/Conditions <font-awesome-icon icon="caret-left" class="when-closed hand pull-right"/><font-awesome-icon icon="caret-down" class="when-opened hand pull-right"/></b-button>

                          </b-card-header>
                          <b-collapse id="accordion-1" visible accordion="hazards" role="tabpanel">
                            <b-card-body class="p-0">
                              <div v-for="(hazard, index) in hazardList" :key="hazard.name" class="text-left" :class="'grey-' + ((index % 2) + 1)">
                                <HazardItem :hazard="hazard"></HazardItem>
                              </div>
                            </b-card-body>
                          </b-collapse>
                        </b-card>

                        <b-card no-body class="mb-1">
                          <b-card-header header-tag="header" class="p-0" role="tab">
                            <b-button block href="#" v-b-toggle.accordion-2 variant="secondary" class="btn-sm text-left smallerGreyTxt">Premises Hazards/Conditions <font-awesome-icon icon="caret-left" class="when-closed pull-right"/><font-awesome-icon icon="caret-down" class="when-opened pull-right"/></b-button>
                          </b-card-header>
                          <b-collapse id="accordion-2" accordion="hazards" role="tabpanel">
                            <b-card-body class="p-0">

                            </b-card-body>
                          </b-collapse>
                        </b-card>
                      </div>
                    </div>
                    <div class="col-md-9">
                        <div class="row bb1grey pb5">
                            <div class="col-md-5 text-left">
                                <span class="">
                                    <span class="font-weight-bold pl5 pr5 hand"> Roof 1</span> <font-awesome-icon icon="trash-alt" class="smallerGreyTxt hand"/> |
                                    <span class="pl5 pr5 hand">Roof 2 <font-awesome-icon icon="trash-alt" class="smallerGreyTxt hand"/></span> |
                                    <span class="disabled pl5 ">Compare</span></span>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-5 text-right">
                                <span class="smallText"><a href="" class="red">Expand All Details</a> | <a href="" class="red">Accept Inspector Data</a> | <a href="" class="red">Accept Agent Data</a> | <a href="" class="red">+Add Hazards</a></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 bb1grey bl2wht br2wht pb5" v-for="(item, index) in roofData" :key="item.name">
                                <div class="font-weight-bold smallBlackText text-left pt5">{{item.name}}</div>
                                <div class="text-left smallBlackText pb5">{{item.value}}</div>
                            </div>
                        </div>
                    </div>
                    </div>
                </b-collapse>
            </div>
        </div>
   
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import HazardItem from '@/components/survey/HazardItem.vue';

@Component({
    components: {
        HazardItem,
    },
    data() {
        return {
            hazardList: [ {name: 'General Information', selected: false, picked: true} , {name: 'Brick, Stone and Other Masonry Types (3) ', selected: false, picked: true},
                {name: 'Chimney/Metal Flute', selected: false, picked: false}, {name: 'Doors', selected: false, picked: false},
                {name: 'Foundation', selected: false, picked: true}, {name: 'Gutter Downspout', selected: false, picked: false}, {name: 'Ineligible Exposure', selected: false, picked: false},
                {name: 'Porch/Patio/Deck', selected: false, picked: false}, {name: 'Roof (2)', selected: true, picked: true}, {name: 'Siding/Frame', selected: false, picked: false}, {name: 'Soffit/Fascia/Eaves', selected: false, picked: false},
                {name: 'Steps', selected: false}, {name: 'Windows', selected: false}, {name: 'Woodstove', selected: false}, {name: 'Attached Garage/Carport', selected: false}],
            roofData: [ {name: 'Hazard Level', value: 'Minor'}, {name: 'Curled', value: 'No'}, {name: 'Patched', value: 'Yes'}, {name: 'Granular Loss', value: 'No'}, {name: 'Rating*', value: '1'}
                , {name: 'Damaged', value: 'No'}, {name: 'Uneven/Wavy', value: 'No'}, {name: 'Obsolete Shingles', value: 'No'}, {name: 'Inspection Method*', value: 'Ladder Lean'}
                , {name: 'Rot', value: 'No'}, {name: 'Snow Covered', value: 'No'}, {name: 'Remaining Life', value: '5-10 Years'}, {name: 'Lifting/Buckled', value: 'No'}, {name: 'Clawed', value: 'No'}
                , {name: 'Moss Build Up', value: 'Yes'}, {name: 'Other Roof Hazard', value: 'Yes'} ],
        };
    },
})
export default class Hazards extends Vue {
}
</script>
