<template>
   <div class="col-md-12 pb5">
        <div class=" whiteBox mt10 ml5 mr5 pl15 pr15 pb10 pt5">
            <div class="row">
                <div class="col-md-9 bb1grey text-left">
                    <span class="font-weight-bold">CIS Inspection Information</span>
                </div>
                <div class="col-md-3 text-right smallerGreyTxt pb5 bb1grey">
                    <span class="pr15">Read only - to edit, click icon and unlock <font-awesome-icon icon="lock" class="hand"/></span>
                    <div v-b-toggle.inspInfo class="pb10 pl15 pt5 bl1grey pull-right"><font-awesome-icon icon="caret-left" class="when-closed pl-5"/><font-awesome-icon icon="caret-down" class="when-opened pull-right"/></div>
                </div>
            </div>
            <b-collapse id="inspInfo" visible class="mt-2">
            <div class="row">

                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-6 mediumGreyBox smallBlackText font-weight-bold text-left bl5wht">Inspection Type:</div>
                        <div class="col-md-6 mediumGreyBox smallBlackText text-left br2wht">RCTExterior</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-6 mediumGreyBox smallBlackText font-weight-bold text-left">Inspection Type Out:</div>
                        <div class="col-md-6 mediumGreyBox smallBlackText text-left br2wht">RCTExterior</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-6 mediumGreyBox smallBlackText font-weight-bold text-left">Order Date:</div>
                        <div class="col-md-6 mediumGreyBox smallBlackText text-left br2wht">10/28/2018</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-6 mediumGreyBox smallBlackText font-weight-bold text-left ">Order Type:</div>
                        <div class="col-md-6 mediumGreyBox smallBlackText text-left br5wht"> A</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-6 lightGreyBox smallBlackText font-weight-bold text-left bl5wht">Assigned To:</div>
                        <div class="col-md-6 lightGreyBox smallBlackText text-left br2wht">VA Jeff</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-6 lightGreyBox smallBlackText font-weight-bold text-left">Inspection Due Date:</div>
                        <div class="col-md-6 lightGreyBox smallBlackText text-left br2wht">11/3/2018</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-6 lightGreyBox smallBlackText font-weight-bold text-left ">Inspected Date:</div>
                        <div class="col-md-6 lightGreyBox smallBlackText text-left br2wht">11/19/2018</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-6 lightGreyBox smallBlackText font-weight-bold text-left ">Inspected By:</div>
                        <div class="col-md-6 lightGreyBox smallBlackText text-left br5wht">Test Manager</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-6 mediumGreyBox smallBlackText font-weight-bold text-left bl5wht">Due Date:</div>
                        <div class="col-md-6 mediumGreyBox smallBlackText text-left br2wht">11/4/2018</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-6 mediumGreyBox smallBlackText font-weight-bold text-left">Orig. Date Completed:</div>
                        <div class="col-md-6 mediumGreyBox smallBlackText text-left br2wht"></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-6 mediumGreyBox smallBlackText font-weight-bold text-left">Current Status:</div>
                        <div class="col-md-6 mediumGreyBox smallBlackText text-left br2wht">Inspected</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-6 mediumGreyBox smallBlackText font-weight-bold text-left ">Results Delivered Date:</div>
                        <div class="col-md-6 mediumGreyBox smallBlackText text-left br5wht"> </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-6 lightGreyBox smallBlackText font-weight-bold text-left bl5wht">Invoiced Date:</div>
                        <div class="col-md-6 lightGreyBox smallBlackText text-left br2wht"></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-6 lightGreyBox smallBlackText font-weight-bold text-left">Paid Date:</div>
                        <div class="col-md-6 lightGreyBox smallBlackText text-left br2wht"></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-6 lightGreyBox smallBlackText font-weight-bold text-left ">&nbsp;</div>
                        <div class="col-md-6 lightGreyBox smallBlackText text-left br2wht"></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-6 lightGreyBox smallBlackText font-weight-bold text-left ">&nbsp;</div>
                        <div class="col-md-6 lightGreyBox smallBlackText text-left br5wht"></div>
                    </div>
                </div>
            </div>
            </b-collapse>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class InsepctionInformation extends Vue {}
</script>
