<template>
    <div class="col-md-12">
        <div class=" whiteBox mt10 ml5 mr5 pl15 pr15 pt5">
            <div class="row">
                <div class="col-md-9 bb1grey text-left">
                    <span class="font-weight-bold">Change Inspection Type</span>
                </div>
                <div class="col-md-3 text-right smallerGreyTxt pb5 bb1grey">
                    <div v-b-toggle.inspType class="pb10 pl15 pt5 bl1grey pull-right"><font-awesome-icon icon="caret-left" class="when-closed hand pl-5"/><font-awesome-icon icon="caret-down" class="when-opened hand pull-right"/></div>
                </div>
            </div>
            <b-collapse id="inspType" visible class="mt-2">
                <div class="row">
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-6"></div>
                    <div class="col-md-4 text-right">
                        <span class="smallerGreyTxt">
                            Changes made here are not saved until either the <span class="font-italic">Save Changes</span> or
                            <span class="font-italic">Save & Send</span> button is clicked in the options above.
                        </span>
                    </div>
                </div>
            </b-collapse>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class InsepctionType extends Vue {}
</script>
