<template>
    <div>
        <div class="row">
            <div class="col-md-12 text-left">
                <span class="font-weight-bold">Images</span>
            </div>
            
            <div class="col-md-6 red pull-left">
                <font-awesome-icon icon="upload"/>&nbsp;<span class="smallerRedTxt hand">upload</span>
            </div>
            <div class="col-md-6 red pull-right">
                <font-awesome-icon icon="download"/>&nbsp;<span class="smallerRedTxt hand">download</span>
            </div>
        
        </div>
        <div class="row">
            <div class="col-md-12">
                <b-card no-body class="mb-1">
                    <b-card-header header-tag="header" class="p-0" role="tab">
                        <b-button block href="#" v-b-toggle.sketches-1 variant="outline-light" class="btn-sm text-left smallerGreyTxt">Sketches <font-awesome-icon icon="caret-left" class="when-closed pull-right"/><font-awesome-icon icon="caret-down" class="when-opened pull-right"/></b-button>
                    </b-card-header>
                    <b-collapse id="sketches-1" accordion="sketches" role="tabpanel">
                        <b-card-body class="p-1">
                            <img src="../assets/floorplan1.png" alt="">
                            <img src="../assets/floorplan2.png" alt="">
                        </b-card-body>
                    </b-collapse>
                </b-card>
                <b-card no-body class="mb-1">
                    <b-card-header header-tag="header" class="p-0" role="tab">
                        <b-button block href="#" v-b-toggle.photos-1 variant="outline-light" class="btn-sm text-left smallerGreyTxt">Photos <font-awesome-icon icon="caret-left" class="when-closed pull-right"/><font-awesome-icon icon="caret-down" class="when-opened pull-right"/></b-button>
                    </b-card-header>
                    <b-collapse id="photos-1" visible accordion="photos" role="tabpanel">
                        <b-card-body class="p-2">
                            <sidebarphoto v-bind:count="1" img="images/house1.jpg" imgType="Address Verification"/>
                            <sidebarphoto v-bind:count="2" img="images/wall.jpg" imgType="Exterior Wall Closeup"/>
                        </b-card-body>
                    </b-collapse>
                </b-card>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import SidebarPhoto from '@/components/imageviewer/SidebarPhoto.vue';


@Component({
  components: {
    sidebarphoto: SidebarPhoto,
  },
})
export default class ImageViewer extends Vue {

}
</script>
