<template>
    <div class="row">
        <div class="col-md-12 lightGrey mb2">
            <div class="row">
                <div class="col-md-12 headerRed b2grey">
                    <div class="navigatorLogo" style="float: left;">
                        <img src="../assets/navigator-logo.png" style="margin-top: 8px;"/>
                    </div>
                    <div id="nav" style="float: right;">
                        <router-link to="/">View Surveys</router-link>
                        <router-link to="/useradmin">User Admin</router-link>
                        <router-link to="/profile">Profile</router-link>
                        <router-link to="/notifications">Notifications</router-link>
                        <router-link to="/logout">Logout</router-link>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 text-right userName darkGreyBar br2grey">
                    Logged In as {{userName}} - DEV (10001) &nbsp;
                </div>
                <div class="col-md-2 darkGreyBar">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6 pt2 pb2">
                                    <div class="text-left userName"><font-awesome-icon icon="angle-double-right"/></div>
                                </div>
                                <div class="col-md-6 pt2 pb2">
                                    <div class="text-right userName"><font-awesome-icon icon="copy"/></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>   
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class NavBar extends Vue {
    @Prop() private userName!: string;
}
</script>

<style scoped>
    .row {
        margin-left: -8px;
        margin-right: -8px;
    }
</style>
