<template>
    <div class="box">
        <div>
            <img :src="img">
            <b-badge class="badgePos">{{ count }}</b-badge>
            <font-awesome-icon icon="times" class="closeX hand"/>
        </div>
        
        <div class="smallerGreyTxt pl5 pt5">
            <font-awesome-icon icon="pencil-alt" class="pull-left hand"/>
            <span class="text-center smallerGreyTxt">{{ imgType }}</span>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class SidebarPhoto extends Vue {
    @Prop() private img!: string;
    @Prop() private count!: number;
    @Prop() private imgType!: string;
}
</script>

<style>
    .box {
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: block;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-bottom: 5px;
        position: relative;
    }

    .badgePos {
        position: absolute;
        top: 0px;
        left: 5px;
    }

    .closeX {
        position: absolute;
        top: 0px;
        right: 5px;
        color: red;
    }
</style>
