<template>
  <div id="app" class="container-fluid">
    <!-- <div class="row">
      <div class="col-md-12 "> -->
        <NavBar userName="ctredway"/>
      <!-- </div>
    </div> -->
    <div class="row">
       <!--<div class="col-md-12 pr0"> -->
        <router-view/>
      <!-- </div> -->
    </div>
    
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component } from 'vue-property-decorator';
import NavBar from '@/components/NavBar.vue'; // @ is an alias to /src
import axios from 'axios';

@Component({
    components: {
        NavBar,
    }
})
export default class App extends Vue {
    hazards: any;

    getHazards (){
        axios
            .get('http://localhost:3000/survey/1/hazards')
            .then(response => {
                console.log(response.data);
            })
            .catch(error => {
                console.log(error)
            })
    }
}
</script>


<style>

</style>
